﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script>
        function ProgressShow() {
            $(".footer").css('display', 'block');
            $(".footer_div").css('display', 'inline-block');
        }

        function ProgressHide() {
            $(".footer").css('display', 'none');
            $(".footer_div").css('display', 'none');
        }

        function Login() {
            var email = $("#form_email").val();
            var password = $("#form_password").val();

            ProgressShow();

            $.ajax({
                url: '/Home/Login',
                type: 'POST',
                dataType: 'json',
                data: { email: email, password: password },
                success: function (data_json) {
                    console.log(data_json);
                    if (data_json["Status"] === "Done") {
                        location.reload();
                    }
                    else {
                        $('#login_error_span').text(data_json["Description"]);
                        $('#login_error_div').css('display', 'block');
                        $('#menu_auth').addClass('open');
                        ProgressHide();
                    }
                },
                error: function (data_json) {
                    console.log(data_json);
                }
            });
        }
    </script>

    <nav id="nav" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Agro Market</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="" class="dropdown" style="margin-top: -2px; height: 50px;">
                        <a id="" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Language"><img src="~/Content/Images/Flags/RU.png" alt="Russian" title="Russian"> <span id="menu_current"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" onclick=""><img src="~/Content/Images/Flags/RU.png" alt="Russian" title="Russian"> Русский</a></li>
                            <li><a href="javascript:void(0)" onclick=""><img src="~/Content/Images/Flags/PL.png" alt="Polish" title="Polish"> Polski</a></li> 
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="menu_index"><a href="@Url.Action("Index", "Home")">Главная<span class="sr-only">(current)</span></a></li>
                    <li id="menu_search"><a href="@Url.Action("Search", "Home")">Обьявления<span class="sr-only">(current)</span></a></li>
                    <li id="menu_firms"><a href="@Url.Action("Firms", "Home")">Фирмы<span class="sr-only">(current)</span></a></li>
                    <li id="menu_help"><a href="@Url.Action("Help", "Home")">Помощь<span class="sr-only">(current)</span></a></li>
                    <li id="menu_about"><a href="@Url.Action("About", "Home")">О нас<span class="sr-only">(current)</span></a></li>
                    <li id="menu_auth" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Авторизация <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input id="form_email" type="text" class="form-control" name="email" value="evgeniybutenko@gmail.com" placeholder="Email">
                                                <span class="input-group-addon" style="border-radius: 0px;"><span class="glyphicon glyphicon-envelope"></span></span>
                                            </div>
                                            <br>
                                            <div class="input-group">
                                                <input id="form_password" type="password" class="form-control" name="password" value="qwerty" placeholder="Пароль">
                                                <span class="input-group-addon" style="border-radius: 0px;"><span class="glyphicon glyphicon-lock"></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button onclick="Login();" class="btn btn-primary">Войти</button>
                                            <a style="float: right;" href="@Url.Action("Reg", "Home")">Забыли пароль?</a>
                                        </div>
                                        <div id="login_success_div" class="alert alert-success" style="display: none; border-radius: 0px;">
                                            <strong>Успех!</strong> <span id="login_success_span"></span>
                                        </div>
                                        <div id="login_error_div" class="alert alert-danger" style="display: none; border-radius: 0px;">
                                            <strong>Ошибка!</strong> <span id="login_error_span"></span>
                                        </div>
                                    </div>
                                    <div class="bottom text-center">
                                        или <a href="@Url.Action("Registration", "Home")">Зарегистрироваться</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div id="progress" style="">
    </div>

    <div class="footer">
        <div class="footer_div">
            <h6>Идёт загрузка...</h6>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
