﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script>
        function ProgressShow() {
            $(".footer").css('display', 'block');
            $(".footer_div").css('display', 'inline-block');
        }

        function ProgressHide() {
            $(".footer").css('display', 'none');
            $(".footer_div").css('display', 'none');
        }
    </script>

    <nav id="nav" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Agro Market</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="menu_index"><a href="@Url.Action("Index", "Home")">Главная<span class="sr-only">(current)</span></a></li>
                    <li id="menu_search"><a href="@Url.Action("Search", "Home")">Обьявления<span class="sr-only">(current)</span></a></li>
                    <li id="menu_firms"><a href="@Url.Action("Firms", "Home")">Фирмы<span class="sr-only">(current)</span></a></li>
                    <li id="menu_help"><a href="@Url.Action("Help", "Home")">Помощь<span class="sr-only">(current)</span></a></li>
                    <li id="menu_about"><a href="@Url.Action("About", "Home")">О нас<span class="sr-only">(current)</span></a></li>
                    <li id="menu_profile"><a href="@Url.Action("MyProfile", "Home")">Профиль<span class="sr-only">(current)</span></a></li>
                    <li id="menu_exit"><a href="@Url.Action("Logout", "Home")">Выход<span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div id="progress" style="">
    </div>

    <div class="footer">
        <div class="footer_div">
            <h6>Идёт загрузка...</h6>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
