﻿@{
    Layout = ViewBag.Layout;
}

<script>
    $(document).ready(function () {
        $("#menu_index").addClass("active");

        //var AfterConfirm = @ViewBag.AfterConfirm;
        //var AfterConfirmOK = @ViewBag.AfterConfirmOK;
        //var ConfirmDescription = "@ViewBag.ConfirmDescription";

        if (@ViewBag.AfterConfirm) {
            if (@ViewBag.AfterConfirmOK) {
            $('#login_success_span').text("@ViewBag.ConfirmDescription");
            $('#login_success_div').css('display', 'block');
            $('#menu_auth').addClass('open');
        }
        else {
            $('#login_error_span').text("@ViewBag.ConfirmDescription");
            $('#login_error_div').css('display', 'block');
            $('#menu_auth').addClass('open');
        }
    }
    });
</script>

<!--
<div class="full">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="hidden-xs text-inverse">Heading</h1>
                <p class="hidden-xs text-inverse">Lorem ipsum dolor sit amet, consectetur adipisici eliLorem ipsum dolor sit amet, consectetur adipisici eli.Lorem ipsum dolor sit amet, consectetur adipisici eli.Lorem ipsum dolor sit amet, consectetur adipisici eli.Lorem ipsum dolor sit amet, consectetur adipisici eli.Lorem ipsum dolor sit amet, consectetur adipisici eli.Lorem ipsum dolor sit amet, consectetur adipisici eli.Lorem ipsum dolor sit amet, consectetur adipisici eli.Lorem ipsum dolor sit amet, consectetur adipisici eli..</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-lg btn-primary buttom-indeks" style="width: 225px;" href="Registration">Добавить объявление</a>
                <a class="btn btn-lg btn-success buttom buttom-indeks" style="width: 225px;" href="Search">Просмотр объявлений</a>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div class="container" style="height: calc(100% - 52px); width: 100%; display: table; table-layout: fixed;">
    <div class="row" style="width: 100%; display: table-cell; vertical-align: middle; text-align: center;">
        <div class="col-md-12" style="display: inline-block;">
            <a class="btn btn-lg btn-primary" style="width: 225px;" href="Registration">Добавить объявление</a>
            <a class="btn btn-lg btn-success" style="width: 225px;" href="Search">Просмотр объявлений</a>
        </div>
    </div>
</div>
-->
