﻿
@{
    Layout = ViewBag.Layout;
}

<script>
    $(document).ready(function () {
        //$("#manu_index").addClass("active");

        $("#button_regsubmit").click(function (e) {
            Register();
        });
    });

    function Register() {
        var email    = $("#input_regemail").val();
        var password = $("#input_regpassword").val();
        var country  = $("#input_regcountry").val();

        ProgressShow();

        $.ajax({
            url: '/Home/NewUSER',
            type: 'POST',
            dataType: 'json',
            data: { email: email, password: password, country: country },
            success: function (data_json) {
                console.log(data_json);
                $('#reg_success_span').text(data_json["Description"]);
                $('#reg_success_div').css('display', 'block');
                $('#menu_auth').addClass('open');
                ProgressHide();
            },
            error: function (data_json) {
                console.log(data_json);
                $('#reg_error_span').text(data_json["Description"]);
                $('#reg_error_div').css('display', 'block');
                $('#menu_auth').addClass('open');
                ProgressHide();
            }
        })
    }
</script>

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-5">
            <div class="well bs-component" style="border-radius: 0px;">
                <div class="form-horizontal">
                    <fieldset>
                        <legend>Регистрация</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input id="input_regemail" type="text" class="form-control" id="inputEmail" placeholder="Введите email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-3 control-label">Пароль</label>
                            <div class="col-md-9">
                                <input id="input_regpassword" type="password" class="form-control" id="inputPassword" placeholder="Введите пароль">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-md-3 control-label">Страна</label>
                            <div class="col-md-9">
                                <select id="input_regcountry" class="form-control" id="select">
                                    <option value="1">Украина</option>
                                    <option value="2">Польша</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="reg_success_div" class="alert alert-success" style="display: none; margin-left: 15px; margin-right: 15px; border-radius: 0px;">
                                <strong>Успех!</strong> <span id="reg_success_span"></span>
                            </div>
                            <div id="reg_error_div" class="alert alert-danger" style="display: none; margin-left: 15px; margin-right: 15px; border-radius: 0px;">
                                <strong>Ошибка!</strong> <span id="reg_error_span"></span>
                            </div>
                            <div class="col-md-12" style="text-align: center;">
                                <button id="button_regsubmit" class="btn btn-primary">Зарегистрировать</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

